.form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input {
  flex-grow: 10;
  min-width: 300px;
  font-size: 2rem;
  color: #749bc2;
  border: none;
  border-bottom: solid #91c8e4 1px;
  padding-bottom: 10px;
  text-align: center;
  background: none;
}

.input::placeholder {
  color: #91c8e4;
}
.input:focus {
  outline: none;
  border-bottom: solid #749bc2 2px;
}

.button {
  border: none;
  width: 100px;
  height: 50px;
  background-color: #91c8e4;
  color: #f6f4eb;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
}

.button:hover {
  background-color: #4682a9;
  cursor: pointer;
}
