.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.label {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 300px;
}
.checkbox {
  height: 50px;
  width: 50px;
}
.input {
  font-size: 2rem;
  color: #4682a9;
  border: 1px solid #91c8e4;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 50px;
}

.buttonBox > button {
  border: none;
  width: 100px;
  height: 50px;
  color: #f6f4eb;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
}

.editButton {
  background-color: #4682a9;
  margin-right: 20px;
}

.deleteButton {
  background-color: #c70039;
}
