.li {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkbox {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.task {
  margin-left: 20px;
  font-size: 2rem;
  color: #4682a9;
}

.buttonBox > button {
  border: none;
  width: 100px;
  height: 50px;
  color: #f6f4eb;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.editButton {
  background-color: #4682a9;
  margin-right: 20px;
}

.editButton:hover {
  background-color: #91c8e4;
}

.deleteButton {
  background-color: #c70039;
}

.deleteButton:hover {
  background-color: tomato;
}
