.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px;
  height: 100%;
  gap: 50px;

  overflow: auto;
}

.ul {
  width: 100%;
  list-style-type: none;
}

.noList {
  text-align: center;
  color: #91c8e4;
  font-size: 2rem;
  padding-top: 50px;
}
